/* JOPLIN MILFORD UI */

/**************************************************************************************************
 *  VARIABLES
 *************************************************************************************************/

html {
  /* TWEAK: Adapt base colors here */
  --primary: rgb(65 105 225);
  --secondary: rgb(199, 146, 234);
  /* --secondary: rgb(255, 203, 107); */
  --dark: rgb(30, 39, 46); /* content background */
  --grey: rgb(43, 52, 59); /* side-bar, ... */
  --grey2: rgb(36, 46, 52); /* side-bar highlight */
  --white: rgb(255, 255, 255); /* default font color */
  --icons: rgb(124, 130, 141);

  --overlay-dark1: rgba(0, 0, 0, 0.1);
  --overlay-dark2: rgba(0, 0, 0, 0.2);
  --overlay-dark5: rgba(0, 0, 0, 0.5);
  --overlay-light1: rgba(255, 255, 255, 0.1);
  --overlay-light5: rgba(255, 255, 255, 0.5);

  --opacity-full: 1;
  --opacity-0-8: 0.8;
  --opacity-0-5: 0.5;

  /* TWEAK: Show shadow on floating buttons and local search */
  --shadow-bottom: 0 1px 3px -1px rgba(0, 0, 0, 0.2);
  --shadow-top: 0 -1px 3px -1px rgba(0, 0, 0, 0.2);

  /* TWEAK: Set to none if no borders shall be shown (not tested) */
  --default-border: 1px solid var(--dark);

  /* TWEAK: Change to adapt the style of the corners of some UI elements */
  --button-radius: 5px;
  --dialog-radius: 10px;
  --input-radius: 10px;
  --scroll-radius: 3px;

  /* TWEAK: Change the style of the tags */
  --tag-color: var(--primary);
  --tag-font-color: var(--white);
  --tag-radius: 100px;
}

/**************************************************************************************************
 *  DISABLING UI ELEMENTS
 *************************************************************************************************/

/* TWEAK: Show/hide "All notes" icon in side-bar (comment out to show) */
i.icon-notes {
  display: none !important;
}

/* TWEAK: Show/hide new folder button */
/* .side-bar > div > div > button {
  display: none !important;
} */

/* TWEAK: Show/hide "last changed" timestamp next to the note title */
.rli-editor > div > div > div > div > div > span {
  display: none !important;
}

/* TWEAK: Show/hide "Spell checker" button on note toolbar */
.editor-toolbar a[title="Spell checker"] {
  display: none !important;
}

/* TWEAK: Show/hide editor toolbar (not in WYSIWYG editor mode and also not the toolbar next to the note title) */
/* .rli-editor > div > div > div > div > div > div > div.editor-toolbar {
  display: none !important;
} */

/* TWEAK: Show/hide toggle editors button */
/* button[title="Toggle editors"] {
  display: none !important;
} */

/* TWEAK: Show/hide "click to add tags..." (if note already has tags) */
a[Title="Tags"] + div > span {
  display: none !important;
}

/* TWEAK: Show/hide line numbers in CodeMirror */
.CodeMirror-line:before {
  display: none !important;
}

/**************************************************************************************************
 *  GLOBAL STYLES
 *************************************************************************************************/

/* user inputs */
input,
select {
  background: var(--grey2) !important;
  border-radius: var(--input-radius) !important;
  border: var(--default-border) !important;
  font-family: Roboto !important;
  opacity: var(--opacity-0-8);
  padding: 3px 8px !important;
  transition: 0.2s;
}
input:focus,
select:focus {
  opacity: var(--opacity-full);
}

/* buttons */
button,
/* codemirror */
.smalltalk .page button,
/* tinymce */
.tox button[class^="tox-button"] {
  /* background: var(--grey2) !important; */
  border-radius: var(--button-radius) !important;
  /* border-color: var(--dark) !important; */
  box-shadow: none !important;
  /* color: var(--white) !important; */
  cursor: pointer !important;
  font-weight: normal !important;
  text-shadow: none !important;
}
.smalltalk .page button,
.tox button[class^="tox-button"] {
  background: none !important;
  border: var(--default-border) !important;
}
button:hover,
.smalltalk .page button:hover,
.tox button[class^="tox-button"]:hover {
  color: var(--primary) !important;
}

/* table cells */
th {
  background-color: var(--overlay-dark1) !important;
}

/* global tag style */
.css-19qsih1-multiValue,
.tags a.list-item,
.tag-list span {
  background-color: var(--tag-color) !important;
  border-radius: var(--tag-radius) !important;
  color: var(--tag-font-color) !important;
  flex: 0 !important;
  font-size: x-small !important;
  font-weight: normal !important;
  padding: 3px 6px !important;
}
.tags .list-item-container {
  height: auto !important;
  margin-bottom: 2px;
}
/* style of tags in 'add or remove tag' prompt */
.css-15g31wo,
.css-1n5lu3i,
.css-d0yvbe {
  border-radius: var(--tag-radius) !important;
  color: var(--tag-font-color) !important;
}

/* global icon and label style */
[class*=" icon-"],
a.button,
.fa,
.fab,
.fas,
/* last changed timestamp */
.rli-editor > div > div > div > div > div > span,
/* click to add tags label */
a[Title="Tags"] + div > span {
  color: var(--icons) !important;
  transition: 0.2s;
}
[class*=" icon-"]:hover,
a.button:hover > [class*=" icon-"],
a.button:hover > i,
a.button:hover,
.fas:hover,
.fab:hover,
.fa:hover {
  background: none !important;
  color: var(--primary) !important;
  cursor: pointer !important;
}

/* date picker */
.rdtPicker {
  border-radius: var(--dialog-radius) !important;
  padding: 8px !important;
}
/* .rdtPicker td.rdtToday {
} */
/* .rdtPicker td.rdtDay:hover {
} */

/**************************************************************************************************
 *  PANELS
 *************************************************************************************************/

.rli-root {
  background: var(--grey) !important;
}

/* general panel styles */
.rli-root > .resizableLayoutItem {
  border-right: var(--default-border) !important;
}
.rli-root > .resizableLayoutItem > div {
  min-width: 150px !important;
  width: 100% !important;
}
.rli-root > .resizableLayoutItem > .resizableLayoutItem {
  border-top: var(--default-border) !important;
}
.rli-root > .resizableLayoutItem > .resizableLayoutItem > div {
  height: 100% !important;
  width: 100% !important;
}

/* remove border from plugin iframes */
div.resizableLayoutItem iframe {
  border-bottom: none !important;
}

/* highlight splitters (vertical and horizontal) while dragging */
.resizableLayoutItem > span > div {
  z-index: 100 !important;
  transition: 0.5s;
}
.resizableLayoutItem > span > div:hover,
.resizableLayoutItem > span > div:active {
  background: var(--primary);
  opacity: var(--opacity-0-5);
}

/* scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--overlay-dark1) !important;
  border-radius: var(--scroll-radius) !important;
}

/**************************************************************************************************
 *  SIDEBAR
 *************************************************************************************************/

.side-bar {
  background: var(--grey) !important;
}
.side-bar .list-item-container:hover {
  background-color: var(--grey2) !important;
}

/* folders */
.folders > div:first-of-type > a {
  text-transform: uppercase !important;
}

/* synchronize area */
.side-bar > div:last-of-type {
  border-top: var(--default-border) !important;
  text-align: center !important;
}
.side-bar > div:last-of-type div {
  color: var(--white) !important;
  opacity: var(--opacity-0-8);
}

/* synchronize button */
.side-bar > div:last-of-type > button {
  background-color: var(--dark) !important;
  border: none !important;
  opacity: var(--opacity-0-8) !important;
  transition: 0.2s;
}
.side-bar > div:last-of-type > button:hover {
  opacity: var(--opacity-full) !important;
}
.side-bar > div:last-of-type > button span {
  color: var(--icons) !important;
  text-transform: uppercase !important;
}

/**************************************************************************************************
 *  NOTE LIST
 *************************************************************************************************/

/* note list */
.rli-noteList div {
  /* remove border-right - introduced in 1.3.7 */
  border-right: none !important;
}
.rli-noteList > div > div > div {
  background: var(--grey) !important;
}
/* .rli-noteList > div > :not(.item-list.note-list),
.rli-noteList > div > div > div:not(.item-list.note-list):last-of-type > div {
  background: none !important;
  text-align: center !important;
} */

/* note list entries */
.rli-noteList > div > div:not(.note-list),
.rli-noteList > div > div > div:last-of-type:not(.note-list) > div {
  background: none !important;
  text-align: center !important;
  width: 100% !important;
}
.item-list.note-list .list-item-container {
  padding: 0 16px !important;
  width: 100% !important;
}
.item-list.note-list .list-item-container::before {
  border-color: var(--dark) !important;
}
.item-list.note-list .list-item-container > a,
.item-list.note-list .list-item-container > div {
  padding: 0 !important;
}
.item-list.note-list .list-item-container:hover {
  background-color: var(--overlay-dark1) !important;
}
.item-list.note-list .list-item-container > a > span {
  /* adds "..." to notes with long titles */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* floating new note button */
div[height="50"] > div:nth-child(2) {
  bottom: 12px;
  position: absolute;
  z-index: 20 !important;
}
div[height="50"] > div:nth-child(2) button {
  border-radius: 10px !important;
  box-shadow: var(--shadow-bottom) !important;
  display: flex !important;
  margin: 0 10px 0 0 !important;
  min-height: 35px !important;
  min-width: 35px !important;
  transition: 0.2s;
}
div[height="50"] > div:nth-child(2) button:hover {
  opacity: var(--opacity-0-8) !important;
}
div[height="50"] > div:nth-child(2) button span {
  color: var(--white) !important;
}
button[title="New to-do"] {
  background: var(--primary) !important;
}
button[title="New note"] {
  background: var(--secondary) !important;
}

/**************************************************************************************************
 *  EDITOR
 *************************************************************************************************/

/* editor column */
.rli-editor > div,
.rli-editor > div > div {
  margin-bottom: 0 !important;
  padding: 0px !important;
  width: 100% !important;
}

/* empty notebook or no note selected */
.rli-editor > div:empty {
  background-color: var(--grey) !important;
  opacity: var(--opacity-full) !important;
}

/* note title bar */
.rli-editor > div > div > div > div:first-of-type {
  background-color: var(--grey) !important;
  border-bottom: var(--default-border) !important;
  box-shadow: var(--shadow-bottom) !important;
  min-height: 50px !important;
  padding: 5px !important;
  z-index: 10 !important;
}

/* note title */
.rli-editor > div > div > div > div > input {
  background: none !important;
  border: none !important;
}

/* active alarm */
a[title="Set alarm"] {
  color: var(--primary) !important;
  font-size: small !important;
  font-weight: bold !important;
}

/* navigation bar (below note title) */
.rli-editor
  > div
  > div
  > div
  > div[style="padding-top: 10px; padding-bottom: 10px;"] {
  background-color: var(--grey) !important;
  border-bottom: var(--default-border) !important;
  box-shadow: var(--shadow-bottom) !important;
  margin-top: -1px;
  padding: 0 !important;
  z-index: 10 !important;
}

/* breadcrumbs (In:...) */
.rli-editor
  > div
  > div
  > div
  > div[style="padding-top: 10px; padding-bottom: 10px;"]
  > button {
  background: none !important;
  margin-bottom: 2px !important;
  margin-left: 5px !important;
  padding: 0 3px !important;
}
.rli-editor
  > div
  > div
  > div
  > div[style="padding-top: 10px; padding-bottom: 10px;"]
  > button
  span {
  color: var(--icons) !important;
  transition: 0.2s;
}
.rli-editor
  > div
  > div
  > div
  > div[style="padding-top: 10px; padding-bottom: 10px;"]
  > button:hover
  span {
  color: var(--primary) !important;
}

/* editor toolbar(s) */
.editor-toolbar,
.joplin-tinymce > div,
.joplin-tinymce .tox .tox-toolbar__primary,
.joplin-tinymce .tox-toolbar__group {
  background-color: var(--grey) !important;
}

/* content */
.rli-editor > div > div > div > div:nth-last-of-type(3) {
  background-color: var(--dark) !important;
}
.rli-editor
  > div
  > div
  > div
  > div[style="display: flex; flex: 1 1 0%;"]
  > div
  > div:last-of-type {
  padding: 0 !important;
}

/* editor layout splitter */
.rli-editor > div > div > div > div > div > div > div:last-of-type {
  border-color: var(--grey) !important;
}

/* floating toolbar at the bottom */
.rli-editor
  > div
  > div
  > div
  > div
  > div
  > div[style="position: relative; display: flex; flex-direction: row;"]:first-of-type {
  bottom: 10px;
  left: 50%;
  max-width: 95%;
  position: absolute !important;
  transform: translate(-50%);
  z-index: 20 !important;
}
.rli-editor > div > div > div > div > div > div > div.editor-toolbar {
  border-radius: var(--dialog-radius);
  border: var(--default-border) !important;
}
button[title="Toggle editors"] {
  border-left: var(--default-border) !important;
  margin-left: 4px !important;
  padding-left: 10px !important;
}
button[title="Toggle editors"] > div {
  background-color: var(--dark) !important;
  border-color: var(--icons) !important;
}

/* local search & tag list */
.rli-editor
  > div
  > div
  > div
  > div[style*="align-items: center;"]:not(:empty):not(:first-of-type) {
  background-color: var(--grey) !important;
  border-top: var(--default-border) !important;
  box-shadow: var(--shadow-top) !important;
  z-index: 10 !important;
}

/* inline local search (right aligned within tag bar) */
.rli-editor
  > div
  > div
  > div
  > div[style$="align-items: center;"]:not(:empty):not(:first-of-type) {
  align-items: center;
  border: none !important;
  height: 0;
  left: 100%;
  position: relative;
  transform: translate(-300px, 20px);
  width: 300px;
  z-index: 20 !important;
}
.rli-editor
  > div
  > div
  > div
  > div[style$="align-items: center;"]:not(:empty):not(:first-of-type)
  > div {
  border: none !important;
}
.rli-editor > div > div > div > div:nth-last-child(2) > div div {
  background: none !important;
  /* set overflow behavior for info text */
  overflow: overlay;
}

/**************************************************************************************************
 *  CODE MIRROR
 *************************************************************************************************/

.CodeMirror,
.cm-s-material-darker.CodeMirror {
  background-color: var(--dark) !important;
}

.cm-header {
  color: var(--primary) !important;
}

/* add line numbers */
.CodeMirror-code {
  counter-reset: line;
}
.CodeMirror-line:before {
  color: var(--grey);
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  margin-right: 0.3em;
  /* TEAK: Adjust width if you have lot of lines (ch = Relative to the width of the "0") */
  width: 3ch;
}

/* Real CodeMirror line numbers */
.CodeMirror-gutters {
  background: none !important;
  border: none !important;
}
.CodeMirror-linenumber {
  color: var(--grey) !important;
}

/**************************************************************************************************
 *  TINY MCE
 *************************************************************************************************/

.joplin-tinymce > div,
.tox-edit-area > iframe,
.joplin-tinymce .tox .tox-toolbar__primary,
.joplin-tinymce .tox-toolbar__group {
  background: none !important;
}

/**************************************************************************************************
 *  DIALOGS
 *************************************************************************************************/

/* common look for dialogs */
.smalltalk .page,
.tox .tox-dialog > div,
div[style^="z-index: 9999;"] > div {
  background: var(--grey) !important;
  border-radius: var(--dialog-radius) !important;
  color: rgb(221, 221, 221) !important;
  font-size: small !important;
}
div[style^="z-index: 9999;"] > div > div {
  background: none !important;
}
div[style^="z-index: 9999;"] input[id*="react-select"] {
  background: none !important;
  border: none !important;
}

/* note properties */
div[style^="z-index: 9999;"] a {
  background: none !important;
}

/* reduce size of (command palette) drop-down list entries */
div[style^="z-index: 9999;"] .item-list div > div {
  font-size: small !important;
  margin-bottom: 0 !important;
}

/**************************************************************************************************
 *  PLUGINS
 *************************************************************************************************/
