/* JOPLIN MILFORD UI */

/**************************************************************************************************
 *  VARIABLES
 *************************************************************************************************/

html {
  --primary: rgb(65 105 225);
  --dark: rgb(30, 39, 46);
  --grey: rgb(43, 52, 59);
  --overlay-dark1: rgba(0, 0, 0, 0.1);

  /* TWEAK: Set to none if no borders shall be shown (not tested) */
  --default-border: 1px solid var(--dark);

  /* TWEAK: Change to adapt the style of the corners of some UI elements */
  --scroll-radius: 3px;

  /* TWEAK: Show/hide shadow on floating TOC */
  --shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.2);
}

/**************************************************************************************************
 *  GLOBALS
 *************************************************************************************************/

body {
  background: var(--dark) !important;
  font-family: Roboto;
  line-height: 1.2em !important;
}

/* scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--overlay-dark1) !important;
  border-radius: var(--scroll-radius) !important;
}

/**************************************************************************************************
 *  CONTENT
 *************************************************************************************************/

/* horizontal rule */
h1,
hr {
  border-color: var(--grey) !important;
  border-width: 1px !important;
}

/* strikethrough checked task list items (https://discourse.joplinapp.org/t/share-your-css/1730/189) */
li.md-checkbox input[type="checkbox"]:checked + label {
  text-decoration: line-through rgba(0, 0, 0, 0.5);
}

.mermaid {
  background: none !important;
}

/**************************************************************************************************
 *  TABLE OF CONTENTS
 *  Based on the idea from here: https://discourse.joplinapp.org/t/toc-as-the-sidebar/5979/34
 *************************************************************************************************/

nav.table-of-contents > ul {
  background: none;
  border-color: transparent;
  font-size: small;
  height: 100%;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s;
  width: 10px;
  z-index: 10;
}
nav.table-of-contents > ul:hover {
  background-color: var(--grey);
  box-shadow: var(--shadow);
  overflow: auto;
  width: auto;
}
nav.table-of-contents > ul:hover li {
  display: list-item;
}
nav.table-of-contents ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 8px;
  margin-top: 0;
  min-width: 100px;
}
nav.table-of-contents li {
  display: none;
  line-height: 1.8em;
  margin-bottom: 0;
  white-space: nowrap;
}
nav.table-of-contents li a {
  padding: 5px;
}
nav.table-of-contents ul li ul li {
  border-left: var(--default-border) !important;
}
nav.table-of-contents a {
  text-decoration: none !important;
}
